---
// Component Imports
import Layout from '../../layouts/Page.astro'
import MusicPreview from '../../components/Music/MusicPreview.astro';

import { getAllRel } from '../../lib/api.js';

import Container from '../../components/Container.astro';
import Header from '../../components/Header.astro';
import MusicNew from '../../components/MusicNew.astro';
import MusicList from '../../components/Music/MusicList.astro';

const seo = {
    title: 'Music',
    description: 'All Music releases and old, demo tracks',
  }

const getAllRels = await getAllRel();
---

<Layout seo={seo}>
  <div class="div-block-2"></div>
  <div class="dirbox">
      <h1 class="heading-isssn">Music</h1>
      <div class="dir">
          <a href="/">
              <div id="dirdark" class="dirlink">Home</div>
          </a>
  
          <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">
  
          <a href="/music/">
              <div class="dirlink_cor">Music</div>
          </a>
      </div>
  </div>

  <!-- <MusicNew /> -->
  
  <div class="header-with-right w-row">
      <div class="column-2 w-col w-col-6">
          <div class="gal-tab">
              <h1 class="heading-right">All releases</h1>
          </div>
      </div>
      <div class="column w-col w-col-6">
          <!-- <a href="#" class="right-box w-inline-block">
              <div class="right-link">Фильтр &gt;&lt;</div>
          </a> -->
      </div>
  </div>

  <MusicList music={getAllRels}/>
</Layout>