---
import Layout from '../layouts/Dashboard.astro'
import MusicList from '../components/MusicList.astro'
import Gmain from '../components/Gmain.astro'
import { getAllRel } from '../lib/api.js';
import GroupList from '../components/GroupList.astro';
const seo = {
  title: 'Главная',
  description: '',
}

export interface Props {
  music: any;
}



const getAllRels = await getAllRel();
---



<Layout seo={seo}>


           
                <div class="dashboard-nav-main-container">
                    <div class="container-default w-container">
                        <div class="dashboard-nav-container">
                            <div class="dashboard-nav-left-content">
                                <div class="mg-right-24px">
                                    <div class="text-400 medium color-neutral-800">Главная страница</div>
                                </div>

                            </div>
                            <div class="dashboard-nav-right-content">


                                
                                    <!-- <div class="dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-8"><img src="./img/dashboard.png" class="avatar-circle _02 mg-right-8px">
                                        <div class="hidden-on-mbl">
                                            <div class="mg-bottom-4px">
                                                <div class="text-200 medium color-neutral-800" style="color: rgb(11, 14, 44);">John Carter</div>
                                            </div>
                                            <div class="text-100 medium color-neutral-600">Account settings</div>
                                        </div>
                                    </div> -->
                                    <div style="height: 42px"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-main-content">
<div class="container-default w-container">
   <div data-w-id="d2157382-b69d-440c-cce4-c24cda908dc3" class="mg-bottom-32px">
      <h1 class="heading-h4-size mg-bottom-12px">Список групп</h1>
      <div class="text-400" style="width: 400px">Ниже приведен список групп, по курсу "Тестирование информационных систем"</div>
   </div>
   <div  data-current="Tab 1" class="w-tabs">

  <div class="overflow-visible w-tab-content">
    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
      <div class="grid-3-columns">
      <Gmain music={getAllRels}/>
    </div>
         </div>
      </div>
   </div>
</div>

                        <!-- <div class="module integration-single">
                          <div class="integration-single-bg-banner"><img src="https://cdn.discordapp.com/attachments/1081135761539223624/1081853850526429225/Kovorking1.jpg" class="width-100 fit-cover"></div>
                          <div class="integration-single-inner-content">
                             <div class="flex vertical-left-mbl">
                                <div class="integration-single-logo"><img src="https://filearchive.cnews.ru/img/cnews/2021/10/19/logos/0d/0d481304554eda390c7a1f6bb17978fb.png" loading="eager" class="width-100"></div>
                                <div class="inner-container _416px">
                                   <div class="heading-h4-size mg-bottom-8px">Тестирование информационных систем</div>
                                   <div class="mg-bottom-16px">Северо-Восточный федеральный университет им. М. К. Аммосова, колледж инфраструктурных технологий</div>
                                   <a href="https://yagu.s-vfu.ru" class="btn-primary w-button">Перейти на Moodle</a>
                                </div>
                             </div>
                          </div>
                       </div> -->

                    </div>
                </div>
                <div data-w-id="297d8ad8-db4a-3ae2-197c-704798a15c49" class="dashboard-footer-wrapper" style="opacity: 1;">
                    <div class="container-default w-container">
                        <div class="dashboard-footer-inner-wrapper">
                            <div>Сайт разработан: <a target="_blank" href="https://vk.com/createandchoose">Aytal Popov</a> - из <a target="_blank" href="https://simbios.agency">Simbios | Digital Agency</a></div>
                        </div>
                    </div>
                </div>


</Layout>


<style>

</style>