---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer">
    <div class="columns-2 w-row">
        <div class="w-col w-col-6">
            <div class="resile-text-2"><strong>©</strong> TheFoxxStuff {currentYear}</div>
        </div>
        <div class="column-8 w-col w-col-6">
            <a target="_blank" href="https://t.me/thefoxxstuff">
                <div class="right-box-down"><img src="/img/icons/Telegram.svg" loading="lazy" alt="" class="image-4">
                    <div class="text-block-5">@thefoxxstuff</div><img src="/img/icons/external-link.svg" loading="lazy" alt="" class="image-5">
                </div>
            </a>
        </div>
    </div>
  </div>
  <div class="div-block-3"></div>
</footer>



