.body {
    margin-top: 0px;
    background-color: #080808;
    color: #fff;
}

.block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 195px;
    height: 48px;
    padding: 12px 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.image {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    padding-right: 0px;
}

.blocks {
    display: none;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.con {
    max-width: 828px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
}

.heading {
    display: none;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
}

.relises {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.relise {
    display: block;
    width: 195px;
    height: 260px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.resile-text-box {
    width: 100%;
}

.relise-text {
    margin-bottom: 6px;
    font-size: 18px;
}

.resile-text-2 {
    color: hsla(0, 0%, 100%, 0.6);
}

.relise-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
}

.relise-img {
    margin-bottom: 20px;
    border-radius: 8px;
}

.header-with-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.right-link {
    padding-left: 0px;
    color: hsla(0, 0%, 100%, 0.6);
    font-style: normal;
    text-align: left;
    text-decoration: none;
}

.columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.column-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}

.heading-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    text-align: left;
}

.galerys {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.galery-one-big {
    width: 406px;
    height: 406px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.image-2 {
    width: 100%;
    height: 100%;
}

.phot-mini {
    width: 195px;
    height: 195px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.galary-right-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0%;
    margin-bottom: 0px;
}

.gal-right-real {
    height: 25%;
}

.gal-tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.shape {
    width: 2px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.06);
}

.heading-right-fuckdel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 24px;
    text-align: left;
}

.right-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    padding: 6px 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #fff;
    text-decoration: none;
}

.right-box:hover {
    padding-right: 12px;
    padding-left: 12px;
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #fff;
}

.bg-head {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 400px;
}

.div-block {
    position: absolute;
    z-index: -1;
    display: none;
    width: 100%;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#151515)), url('../images/Rectangle-41.png');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #151515), url('../images/Rectangle-41.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, auto;
}

.div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 530px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.text-block {
    margin-bottom: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.div-block-3 {
    width: 100%;
    height: 80px;
}

.columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dir {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.6);
}

.text-block-2 {
    margin-right: 20px;
}

.dirlink {
    display: block;
    margin-right: 12px;
}

.dirlink_cor {
    display: block;
    margin-right: 12px;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.galary-right-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0%;
    margin-bottom: 16px;
}

.heading-isssn {
    margin-bottom: 6px;
    color: #fff;
    font-size: 24px;
    text-align: left;
}

.l-photo-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 195px;
    height: 195px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.06);
    background-image: url('../images/1.png'), -webkit-gradient(linear, left top, left bottom, color-stop(25%, hsla(0, 0%, 100%, 0)), to(rgba(8, 8, 8, 0.8))), url('../images/FYSxrpiX0AAKz-s.jpg');
    background-image: url('../images/1.png'), linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, rgba(8, 8, 8, 0.8)), url('../images/FYSxrpiX0AAKz-s.jpg');
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-size: contain, auto, cover;
    background-repeat: repeat, repeat, repeat;
}

.test1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #73ee08;
}

.div-block-4 {
    overflow: hidden;
    width: 406px;
    height: 406px;
    border-radius: 8px;
    background-color: #00ff40;
}

.musicinner {
    margin-top: 20px;
    color: hsla(0, 0%, 100%, 0.6);
}

.column-3 {
    padding-left: 0px;
}

.sa {
    width: 1112px;
    height: 222px;
    padding-right: 0px;
    padding-left: 0px;
}

.c2 {
    padding-right: 40px;
    padding-left: 40px;
}

.c1 {
    padding-right: 10px;
    padding-left: 10px;
}

.column-4 {
    padding-right: 160px;
    padding-left: 0px;
}

.heading-ins {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 24px;
    text-align: left;
}

.nmusicnotes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonmusic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: 0px;
    padding: 8px 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.06);
    font-weight: 700;
}

.ffff {
    margin-top: 20px;
}

.heading-ina {
    margin-bottom: 6px;
    color: #fff;
    font-size: 24px;
    text-align: left;
}

.tas {
    color: hsla(0, 0%, 100%, 0.6);
}

.musiclist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
    background-color: hsla(0, 0%, 100%, 0);
}

.musiclist:hover {
    background-color: hsla(0, 0%, 100%, 0.06);
}

.mlistone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.listmus {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.musiclist-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
    background-color: hsla(0, 0%, 100%, 0);
}

.musiclist-2:hover {
    background-color: hsla(0, 0%, 100%, 0.06);
}

.musiclist-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px none hsla(0, 0%, 100%, 0.06);
    background-color: hsla(0, 0%, 100%, 0);
}

.musiclist-3:hover {
    background-color: hsla(0, 0%, 100%, 0.06);
}

.text-block-3 {
    padding-right: 0px;
}

.column-5 {
    padding-right: 20px;
    padding-left: 20px;
}

.image-3 {
    width: 100%;
    height: 100%;
}

.prof_img {
    overflow: hidden;
    height: 480px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100%, 0.06);
}

.column-6 {
    padding-right: 20px;
    padding-left: 0px;
}

.profff {
    padding-right: 10px;
    padding-left: 10px;
}

.profffdas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-info-prof {
    color: hsla(0, 0%, 100%, 0.6);
}

.prof_minidata {
    margin-top: 0px;
    margin-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.column-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.div-block-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-block-6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.rightch {
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.numertrack {
    margin-right: 12px;
}

.column-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.column-9 {
    margin-bottom: 0px;
}

.text-block-4 {
    padding-bottom: 10px;
}

.right-box-down {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #fff;
    text-decoration: none;
}

.right-box-down:hover {
    padding-right: 12px;
    padding-left: 12px;
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #fff;
}

.image-4 {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.image-5 {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.text-block-5 {
    font-weight: 700;
}

.image-6 {
    position: absolute;
    z-index: 0;
}

.image-7 {
    position: relative;
    z-index: 3;
}

.column-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 8px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: hsla(0, 0%, 100%, 0.6);
}

.columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-block-6 {
    padding-right: 24px;
}

.div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.column-11 {
    padding-right: 0px;
    padding-left: 0px;
}

.div-block-10 {
    position: relative;
    top: 32px;
    z-index: 32;
}

.links-header {
    position: absolute;
    z-index: 20;
    margin-bottom: 228px;
    margin-left: -451px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.links-header2 {
    position: absolute;
    z-index: 20;
    margin-bottom: 45px;
    margin-left: -579px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.links-header3 {
    position: absolute;
    z-index: 20;
    margin-bottom: -159px;
    margin-left: -580px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.links-header4 {
    position: absolute;
    z-index: 20;
    margin-bottom: 139px;
    margin-left: 687px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.links-header5 {
    position: absolute;
    z-index: 20;
    margin-bottom: -48px;
    margin-left: 564px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.links-header6 {
    position: absolute;
    z-index: 20;
    margin-bottom: -241px;
    margin-left: 545px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.l-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 160px;
    margin-top: 16px;
    padding-top: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
}

.columns-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.column-12 {
    padding-right: 8px;
    padding-left: 0px;
}

.column-13 {
    padding-right: 0px;
    padding-left: 8px;
}

.l-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 160px;
    margin-top: 0px;
    padding-top: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.05);
    background-image: url('../images/1.png'), -webkit-gradient(linear, left top, left bottom, color-stop(25%, hsla(0, 0%, 100%, 0)), to(rgba(8, 8, 8, 0.8))), url('../images/FYSxrpiX0AAKz-s.jpg');
    background-image: url('../images/1.png'), linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, rgba(8, 8, 8, 0.8)), url('../images/FYSxrpiX0AAKz-s.jpg');
    background-position: 100% 100%, 0px 0px, 50% 50%;
    background-size: contain, auto, cover;
    background-repeat: repeat, repeat, repeat;
    background-attachment: scroll, scroll, scroll;
}

.text-block-7 {
    display: block;
    margin-bottom: 18px;
    margin-left: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 400;
}

.image-8 {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .relises {
        padding-right: 8px;
        padding-left: 8px;
    }
    .columns-4 {
        padding-left: 0px;
    }
    .column-12 {
        padding-left: 8px;
    }
    .column-13 {
        padding-right: 8px;
    }
}

@media screen and (max-width: 767px) {
    .relises {
        display: -ms-grid;
        display: grid;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .l-2 {
        margin-top: 8px;
    }
    .column-12 {
        padding-bottom: 8px;
    }
    .column-13 {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 479px) {
    .relises {
        position: static;
        display: -ms-grid;
        display: grid;
        float: none;
        clear: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        justify-items: center;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        -o-object-fit: fill;
        object-fit: fill;
    }
    .relise {
        width: 150px;
        height: 220px;
    }
    .relise-text {
        font-size: 16px;
    }
    .resile-text-2 {
        font-size: 12px;
    }
    .relise-con {
        padding: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .right-link {
        font-size: 12px;
    }
    .heading-right {
        font-size: 20px;
    }
    .heading-right-fuckdel {
        font-size: 20px;
    }
    .l-photo-box {
        width: 100%;
        height: 150px;
    }
    .text-block-6 {
        font-size: 12px;
    }
    .bold-text {
        font-size: 20px;
    }
    .l-2 {
        margin-top: 8px;
    }
    .column-12 {
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 479px) {
    #w-node-_2ac86e11-dd94-e0f2-ecf4-345c2713662c-0fc3ba66 {
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-e nd: span 1;
        -ms-grid-column: span 1;
        grid-column-start: span 1;
        -ms-grid-column-span: 1;
        grid-column-end: span 1;
    }
}