    @font-face {
        font-family: 'GolosUIWebRegular';
        src: url('/fonts/Golos-Text_Regular.woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Golos-Text_Medium';
        src: url('/fonts/Golos-Text_Medium.woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: "DrukWideCyrMedium";
        src: url("/fonts/DrukWideCyrMedium.woff2");
    }
    
    body {
        margin-top: 0px;
        background-color: #080808;
        color: #fff;
        font-family: 'GolosUIWebRegular';
    }
    
    h1 {
        font-family: 'DrukWideCyrMedium';
    }
    
     ::selection {
        background: rgb(255, 255, 255, 0.10);
        color: #88ff00;
        background-color: #88ff001f;
        text-shadow: none;
    }
    
    *::-webkit-scrollbar {
        width: 12px;
    }
    
    *::-webkit-scrollbar-track {
        background: #111;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: #7e7e7e;
        border-radius: 20px;
        border: 3px solid #111;
    }
    
    .block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 195px;
        height: 48px;
        padding: 12px 16px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: rgb(255, 255, 255, 0.05);
        transition: 0.2;
    }
    
    .block:hover {
        transition: 0.2;
        background-color: rgb(255, 255, 255, 0.08);
    }
    
    .image {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        padding-right: 0px;
    }
    
    .blocks {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    
    .con {
        max-width: 828px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
    }
    
    .heading {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: left;
    }
    
    .relises {
        /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto; */
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    
    .relise {
        display: block;
        width: 195px;
        height: 260px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.05);
        transition: 0.05s;
    }
    
    .relise:hover {
        transition: 0.2s;
        background-color: hsla(0, 0%, 100%, 0.07);
    }
    
    .resile-text-box {
        width: 100%;
    }
    
    .relise-text {
        margin-bottom: 6px;
        font-size: 18px;
        font-family: 'Golos-Text_Medium';
    }
    
    .resile-text-2 {
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .relise-con {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
        -o-object-fit: fill;
        object-fit: fill;
    }
    
    .relise-img {
        margin-bottom: 20px;
        border-radius: 8px;
    }
    
    .header-with-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .right-link {
        padding-left: 0px;
        font-style: normal;
        text-align: left;
        text-decoration: none;
        transition: 0.03;
    }
    
    .right-link:hover {
        transition: 0.2;
    }
    
    .columns {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    
    .column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    
    .column-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .heading-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 24px;
        text-align: left;
    }
    
    .galerys {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    
    .galery-one-big {
        width: 406px;
        height: 406px;
        border-radius: 8px;
        overflow: hidden;
        outline: 2px solid rgba(255, 255, 255, 0);
        transition: 0.05s;
        outline-offset: -1px;
    }
    
    .galery-one-big img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .galery-one-big:hover {
        /* outline: 2px solid rgba(255, 255, 255, 0.08); */
        transition: 0.2s;
        outline-offset: -1px;
        opacity: 0.8;
    }
    
    .image-2 {
        width: 100%;
        height: 100%;
    }
    
    .phot-mini {
        width: 195px;
        height: 195px;
        margin-left: 16px;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.00);
        overflow: hidden;
        outline: 2px solid rgba(255, 255, 255, 0);
        transition: 0.05s;
        outline-offset: -1px
    }
    
    .phot-mini:hover {
        /* outline: 2px solid rgba(255, 255, 255, 0.08); */
        transition: 0.2s;
        outline-offset: -1px;
        opacity: 0.8;
    }
    
    .phot-mini img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .galary-right-1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 0%;
        margin-bottom: 0px;
    }
    
    .gal-right-real {
        height: 25%;
    }
    
    .gal-tab {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    
    .shape {
        width: 2px;
        height: 16px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 20px;
        background-color: hsla(0, 0%, 100%, 0.06);
    }
    
    .heading-right-fuckdel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 24px;
        text-align: left;
    }
    
    .right-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 120px;
        padding: 6px 12px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.06);
        color: hsla(0, 0%, 100%, 0.8);
        text-decoration: none;
        transition: 0.05s;
    }
    
    .right-box:hover {
        padding-right: 12px;
        padding-left: 12px;
        background-color: hsla(0, 0%, 100%, 0.08);
        transition: 0.2s;
    }
    
    .bg-head {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 400px;
    }
    
    .div-block {
        position: absolute;
        z-index: -1;
        display: block;
        width: 100%;
        height: 400px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#151515)), url("../img/bg.png");
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #151515), url("../img/bg.png");
        background-position: 0px 0px, 50% 50%;
        background-size: auto, auto;
    }
    
    .div-block-2 {
        height: 20px;
        margin-bottom: 0px;
    }
    
    .footer {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.05);
    }
    
    .text-block {
        margin-bottom: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }
    
    .div-block-3 {
        width: 100%;
        height: 80px;
    }
    
    .columns-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .dir {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 6px;
        margin-bottom: 0px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .text-block-2 {
        margin-right: 20px;
    }
    
    .dirlink {
        display: block;
        margin-right: 6px;
        padding: 8px 14px;
        border-radius: 8px;
        transition: 0.05s;
        background-color: hsla(0, 0%, 100%, 0);
    }
    
    .dirlink:hover {
        background-color: hsla(0, 0%, 100%, 0.05);
        transition: 0.2s;
    }
    
    .dirlink_cor:hover {
        background-color: hsla(0, 0%, 100%, 0.05);
        transition: 0.2s;
    }
    
    .dirlink_cor {
        background-color: hsla(0, 0%, 100%, 0);
        border-radius: 8px;
        padding: 8px 14px;
        transition: 0.05s;
        display: block;
        margin-right: 12px;
        margin-bottom: 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
    }
    
    .galary-right-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 0%;
        margin-bottom: 16px;
    }
    
    .heading-isssn {
        margin-bottom: 6px;
        color: #fff;
        font-size: 24px;
        text-align: left;
    }
    
    .photo-box {
        overflow: hidden;
        width: 195px;
        height: 195px;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.06);
    }
    
    .photo-box img {
        object-fit: cover;
    }
    
    .test1 {
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: #73ee0800;
    }
    
    .div-block-4 {
        overflow: hidden;
        width: 406px;
        height: 406px;
        border-radius: 8px;
    }
    
    .musicinner {
        margin-top: 20px;
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .column-3 {
        padding-left: 0px;
    }
    
    .sa {
        width: 1112px;
        height: 222px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .c2 {
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .c1 {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .column-4 {
        padding-right: 160px;
        padding-left: 0px;
    }
    
    .heading-ins {
        margin-top: 0px;
        margin-bottom: 6px;
        font-size: 24px;
        text-align: left;
        width: 400px;
    }
    
    .nmusicnotes {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .buttonmusic {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 10px;
        margin-left: 0px;
        padding: 8px 12px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.06);
        color: hsla(0, 0%, 100%, 0.6);
        font-weight: 700;
        transition: 0.05s;
    }
    
    .buttonmusic:hover {
        background-color: hsla(0, 0%, 100%, 0.08);
        transition: 0.2s;
    }
    
    .ffff {
        margin-top: 20px;
    }
    
    .heading-ina {
        margin-bottom: 6px;
        color: #fff;
        font-size: 24px;
        text-align: left;
    }
    
    .tas {
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .musiclist {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 12px 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
        background-color: hsla(0, 0%, 100%, 0);
        transition: 0.05s;
    }
    
    .musiclist:hover {
        background-color: hsla(0, 0%, 100%, 0.06);
        transition: 0.2s;
    }
    
    .mlistone {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    
    .listmus {
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    
    .musiclist-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 12px 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
        background-color: hsla(0, 0%, 100%, 0);
        transition: 0.05s;
    }
    
    .musiclist-2:hover {
        background-color: hsla(0, 0%, 100%, 0.06);
        transition: 0.2s;
    }
    
    .musiclist-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 12px 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px none hsla(0, 0%, 100%, 0.06);
        background-color: hsla(0, 0%, 100%, 0);
        transition: 0.05s;
    }
    
    .musiclist-3:hover {
        background-color: hsla(0, 0%, 100%, 0.06);
        transition: 0.2s;
    }
    
    .text-block-3 {
        padding-right: 0px;
    }
    
    .column-5 {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .image-3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .prof_img {
        overflow: hidden;
        height: 480px;
        border-radius: 6px;
        background-color: hsla(0, 0%, 100%, 0.06);
    }
    
    .column-6 {
        padding-right: 20px;
        padding-left: 0px;
    }
    
    .profff {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .profffdas {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .left-info-prof {
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .prof_minidata {
        margin-top: 0px;
        margin-bottom: 8px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
    }
    
    .column-7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    
    .div-block-5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .div-block-6 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .div-block-7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    
    .rightch {
        width: 14px;
        height: 14px;
        margin-right: 12px;
    }
    
    .numertrack {
        margin-right: 12px;
    }
    
    .column-8 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    
    .column-9 {
        margin-bottom: 0px;
    }
    
    .text-block-4 {
        padding-bottom: 10px;
    }
    
    .right-box-down {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 6px 12px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.06);
        color: #fff;
        text-decoration: none;
        transition: 0.2s;
    }
    
    .right-box-down:hover {
        padding-right: 12px;
        padding-left: 12px;
        background-color: hsla(0, 0%, 100%, 0.08);
        color: #fff;
        transition: 0.05s;
    }
    
    .image-4 {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    
    .image-5 {
        width: 20px;
        height: 20px;
        margin-left: 6px;
    }
    
    .text-block-5 {
        font-weight: 700;
    }
    
    #dirdark {
        color: hsla(0, 0%, 100%, 0.6);
        ;
    }
    
    .div-block-10 {
        position: relative;
        top: 32px;
        z-index: 32;
    }
    
    .columns-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .column-11 {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .w-col-6 {
        width: 50%;
    }
    
    .column-10 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .w-col-6 {
        width: 50%;
    }
    
    .div-block-8 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 48px;
        padding: 8px 16px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: hsla(0, 0%, 100%, 0.6);
    }
    
    .text-block-6 {
        margin-right: 6px;
        color: hsla(0, 0%, 100%, 0.6);
        padding: 6px 12px 6px 12px;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0);
        transition: 0.25s;
    }
    
    .text-block-6:hover {
        background-color: hsla(0, 0%, 100%, 0.05);
        transition: 0.25s;
        color: #88ff00;
    }
    
    .div-block-9 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 32px;
        height: 32px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.05);
    }
    
    .column-11 {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .div-block-art {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 530px;
        margin-bottom: 0px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .image-7 {
        position: relative;
        z-index: 3;
    }
    
    .image-6 {
        position: absolute;
        z-index: 0;
    }
    /* #scene {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

#scene #text {
position: absolute;
display: flex !important;
position: relative;
color: #fff;
font-size: 14vw;
} */
    
    #text {
        margin-left: 160px;
        margin-top: -50px;
    }
    
    .div-blocks {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 900px;
        top: -2px;
        background-repeat: no-repeat;
        background-position: center, top;
        background-image: url(https://bafybeia3czuy5gces25olp6tyo2372gfmg5fmwdnofxvuejou7sjev4r5e.ipfs.w3s.link/bg-blur.avif);
        animation-name: example;
        animation-duration: 4s;
        opacity: 1;
        animation: myAnim 17s ease 0s infinite normal forwards;
    }
    
    @keyframes myAnim {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0.6;
        }
    }
    
    .links-header2 {
        position: absolute;
        z-index: 20;
        margin-bottom: 45px;
        margin-left: -579px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    .links-header3 {
        position: absolute;
        z-index: 20;
        margin-bottom: -159px;
        margin-left: -580px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    .links-header4 {
        position: absolute;
        z-index: 20;
        margin-bottom: 139px;
        margin-left: 649px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    .links-header5 {
        position: absolute;
        z-index: 20;
        margin-bottom: -48px;
        margin-left: 545px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    .links-header6 {
        position: absolute;
        z-index: 20;
        margin-bottom: -241px;
        margin-left: 525px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    .links-header {
        position: absolute;
        z-index: 20;
        margin-bottom: 228px;
        margin-left: -451px;
        padding: 0px 16px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    
    #link {
        color: #88ff00;
    }
    
    .text-block-4 a {
        color: #88ff00;
    }
    
    SanityPortableText a {
        color: #88ff00;
    }
    
    @media screen and (min-width:480px) and (max-width:880px) {
        /* Target landscape smartphones, portrait tablets, narrow desktops

  */
        .con {
            padding: 12px;
            overflow: hidden;
        }
        .block {
            width: 170px;
        }
        .relise {
            width: 100%;
            height: 100%;
        }
        .test1 {
            height: 150px;
        }
        .relise-con {
            padding: 14px;
        }
        .relise-text {
            font-size: 16px;
        }
        .div-block-4 {
            width: 100%;
            height: 100%;
        }
        .buttonmusic {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width:479px) {
        /* Target portrait smartphones */
        .relises {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
        }
        .relise {
            width: 100%;
            height: 100%;
        }
        .relise-con {
            padding: 12px;
        }
        .block {
            width: 100%;
            height: 100%;
        }
        .heading {
            font-size: 20px;
        }
        .heading-right {
            font-size: 20px;
        }
        .heading-isssn {
            font-size: 20px;
        }
        .con {
            padding: 12px;
            overflow: hidden;
        }
        .blocks {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
        }
        .galerys {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
        }
        a .galery-one-big {
            width: 100%;
        }
        .gal-right-real {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            width: 100%;
        }
        .phot-mini {
            margin: 0;
            width: 80px;
            height: 80px;
        }
        .galary-right-2 {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            width: 100%;
        }
        .galary-right-1 {
            display: -ms-grid;
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            width: 100%;
        }
        .div-block-4 {
            width: 100%;
            height: 100%;
        }
        .w-col-6 {
            width: 100%;
        }
        .column-5 {
            padding-right: 0px;
            padding-left: 0px;
        }
        .column-9 {
            margin-top: 12px;
        }
        .w-col {
            padding-left: 0px;
            padding-right: 0px;
        }
        .w-col .w-col {
            width: 50%;
        }
        .heading-ins {
            font-size: 20px;
            margin-top: 12px;
        }
        .text-block-6 {
            display: none;
        }
        .div-block-9 {
            width: 48px;
            height: 48px;
        }
        .div-block-8 {
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: none;
            padding: 0;
        }
        .div-block-10 {
            top: 8px;
        }
        .div-block-2 {
            height: 0;
        }
        #scene {
            display: none;
        }
        .photo-box {
            width: 100%;
        }
    }
    
    blockquote {
        margin: 0 0 10px 0;
        padding: 5px 10px;
        border-left: 2px solid #E2E2E2;
        font-size: 14px;
        line-height: 18px;
    }
    
    .l-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 160px;
        margin-top: 16px;
        padding-top: 0px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        border-radius: 8px;
        background-color: hsla(0, 0%, 100%, 0.05);
    }
    
    .columns-4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .column-12 {
        padding-right: 8px;
        padding-left: 0px;
    }
    
    .column-13 {
        padding-right: 0px;
        padding-left: 8px;
    }
    
    @media screen and (max-width: 767px) {
        .l-2 {
            margin-top: 8px;
        }
        .column-12 {
            padding-bottom: 8px;
        }
        .column-13 {
            padding-bottom: 0px;
        }
    }
    
    @media screen and (max-width: 479px) {
        .l-photo-box {
            width: 100%;
            height: 150px;
        }
        .l-2 {
            margin-top: 8px;
        }
        .column-12 {
            padding-bottom: 8px;
        }
    }